body {
  background-color: #008080;
  font-family: 'Courier New', Courier, monospace !important;
}

input[type='file']::file-selector-button {
  background-color: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  min-height: 23px;
  min-width: 75px;
  text-shadow: 0 0 #222;
  font-family: 'Pixelated MS Sans Serif', Arial;
  font-size: 11px;
}

input[type='file']::file-selector-button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}

input[type='file']::file-selector-button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

option[disabled] {
  background-color: silver !important;
}